<!-- export header file from the partials directory -->
<%- include('partials/header') %>

<h1>
    hello, I'm here 
</h1>

<!-- export footer file from the partials directory -->
<%- include('partials/footer') %>