<!-- export header file from the partials directory -->
<%- include('partials/header') %>

<div class="container">
    
</div>

<!-- export footer file from the partials directory -->
<%- include('partials/footer') %>