<!-- export header file from the partials directory -->
<%- include('partials/header') %>

<div class="container row">
    <div class="container__logo col">
        <!-- image section -->
    </div>
    <div class="container__output col">

        <form action="/weather" method="GET">
            <input type="text" name="location" id="location" placeholder="Search Location" required>
            <button type="submit">Search</button>
        </form>
        
    </div>
</div>

<!-- export footer file from the partials directory -->
<%- include('partials/footer') %>