<!-- export header file from the partials directory -->
<%- include('partials/header') %>

<div class="container">
    <img src="../img/weather.png" alt="">
</div>

<!-- export footer file from the partials directory -->
<%- include('partials/footer') %>