@import url("https://fonts.googleapis.com/css2?family=Pushster&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; }

html, body {
  font-family: 'Pushster', cursive; }

.header {
  max-width: 100%;
  min-height: 5rem;
  background-color: aquamarine;
  font-size: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr 6fr;
  justify-items: center;
  align-items: center;
  justify-content: center; }
  .header__logo {
    justify-self: end; }
    .header__logo img {
      display: block;
      width: 5rem;
      height: 5rem; }
  .header__title {
    justify-self: start;
    padding-left: 2rem; }
  .header__text {
    justify-self: end;
    padding-right: 7rem;
    letter-spacing: 1rem; }
